IMDBTraktSyncer/__pycache__/__init__.cpython-314.pyc
IMDBTraktSyncer/__pycache__/arguments.cpython-314.pyc
IMDBTraktSyncer/__pycache__/authTrakt.cpython-314.pyc
IMDBTraktSyncer/__pycache__/checkChrome.cpython-314.pyc
IMDBTraktSyncer/__pycache__/checkVersion.cpython-314.pyc
IMDBTraktSyncer/__pycache__/errorHandling.cpython-314.pyc
IMDBTraktSyncer/__pycache__/errorLogger.cpython-314.pyc
IMDBTraktSyncer/__pycache__/imdbData.cpython-314.pyc
IMDBTraktSyncer/__pycache__/traktData.cpython-314.pyc
IMDBTraktSyncer/__pycache__/verifyCredentials.cpython-314.pyc
IMDBTraktSyncer/chrome-143.0.7499.40.zip
IMDBTraktSyncer/credentials.txt
*.pak
/IMDBTraktSyncer/Chrome
/IMDBTraktSyncer/__pycache__
IMDBTraktSyncer/log.txt
IMDBTraktSyncer/Chromedriver/143.0.7499.40/chromedriver-win64/chromedriver.exe
IMDBTraktSyncer/FIXES_APPLIED.md
IMDBTraktSyncer/QUICKSTART.md
IMDBTraktSyncer/CHANGELOG.md
IMDBTraktSyncer/CHANGELOG.md
IMDBTraktSyncer/chrome-146.0.7680.66.zip
IMDBTraktSyncer/chromedriver-146.0.7680.66.zip
IMDBTraktSyncer/bce33322-b1e2-4d69-86ee-180e1ac3759d.csv
IMDBTraktSyncer/Chromedriver/146.0.7680.66/chromedriver-win64/chromedriver.exe
/IMDBTraktSyncer/selenium-profile-test
/IMDBTraktSyncer/selenium-profile-test2
/IMDBTraktSyncer/ChromeProfile/146.0.7680.66
IMDBTraktSyncer/sync_checkpoint.json

# Python cache
__pycache__/
*.py[cod]
